<section class="shop-section bundle-section bundle-section-omega" id="bundle-shop">
  <div class="container">
    <div class="bundle-info">
      <img src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Product_photo_1024x1024_ce3bd9db-1f59-4739-b417-71ed1ef83189.png?v=1684327952" alt="">
      <div class="bundle-info-text">
        <span>
          <ls-static-853766>Get the bundle for</ls-static-853766>
        </span>
        <div class="discount">
          <ls-static-909360>10% off</ls-static-909360>
        </div>
      </div>
    </div>
    
    {% assign product = all_products['simple-spectrum-bundle'] %}
    <script>
      {%- comment -%} product page {%- endcomment -%}
      window.BOLD.common.Shopify.saveProduct({{ product.handle | json }}, {{ product.id | json }});
      {%- for variant in product.variants -%} window.BOLD.common.Shopify.saveVariant({{ variant.id | json }}, {product_id: {{ product.id | json }}, product_handle: {{ product.handle | json }}, price: {{ variant.price | json }}, group_id: '{{variant.metafields.bold_rp.rp_group_id}}'}); {%- endfor -%}
    </script>
    <div class="bundle">
      <div class="price-info">
        <div class="products">
          <div class="item">
            <div class="title"><ls-static-637184>Simple Spectrum Nutritional Support Supplement</ls-static-637184></div>
            <div class="price">$49.99</div>
          </div>
          <div class="plus">+</div>
          <div class="item">
            <div class="title"><ls-static-717760>Simple Spectrum Omega 3 DHA Supplement</ls-static-717760></div>
            <div class="price">$34.99</div>
          </div>
        </div>
        <div class="discount">
          <div class="title"><ls-static-378887>When you buy together</ls-static-378887></div>
          <div class="compare-at-price">$84.98</div>
          <div class="price">$76.48</div>
        </div>
      </div>
    </div>

    <!-- <div class="button-wrap">
      <a
        href="#"
        id="add-bundle-to-cart"
        class="btn red-btn">
        <ls-static-654987>add to cart</ls-static-654987>
      </a>
    </div> -->

    {% if product %}
      <form method="post" action="/cart/add" class="product">
          <input type="hidden" name="return_to" value="/{% if request.locale.iso_code != 'en' %}{{ request.locale.iso_code }}/{% endif %}cart"/>
          
        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        <input type="submit" value="Add to cart" class="btn red-btn" />
      </form>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Shop"
  }
{% endschema %}
