<section class="school-free-from">
  <div class="container">
    <h3>{{ section.settings.subtitle }}</h3>
    <h2>{{ section.settings.title }}</h2>

    <div class="items mobile">
      {% for block in section.blocks %}
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 1 %}
      	  <div class="column">
        {% endif %}
            <div class="item"><span>{{ block.settings.text }}</span></div>
        {% if mod == 0 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="items desktop">
      {% for block in section.blocks %}
        <div class="item"><span>{{ block.settings.text }}</span></div>
      {% endfor %}
    </div>
  </div>
  <picture>
    {% if section.settings.image_mobile != blank %}
        <source media="(max-width: 1000px)" srcset="{{ section.settings.image_mobile  | img_url: 'master' }}">
        <img src="{{ section.settings.image  | img_url: 'master' }}" alt="">
    {% endif %}
  </picture>
</section>

{% schema %}
  {
    "name": "Always Free From",
    "settings": [
      {
        "id": "image",
        "type": "image_picker",
        "label": "image"
      },
      {
        "id": "image_mobile",
        "type": "image_picker",
        "label": "image mobile"
      },
      {
        "id": "subtitle",
        "type": "text",
        "label": "Subtitle"
      },
      { 
        "id": "title",
        "type": "text",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "id": "text",
            "type": "text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
