<section class="school-inside">
  <div class="container">
    <h2>{{ section.settings.header }}</h2>
    <div class="slider-inside mobile">
      {% for block in section.blocks %} 
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 1 %}
      	  <div class="column">
        {% endif %}
        <div class="slide {{ block.settings.color }}-border">
          <h4>{{ block.settings.header }}</h4>
          {{ block.settings.text }}
        </div>
        {% if mod == 0 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="slider-inside desktop">
      {% for block in section.blocks %} 
        <div class="slide {{ block.settings.color }}-border">
          <h4>{{ block.settings.header }}</h4>
          {{ block.settings.text }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

  {% schema %}
  {
    "name": "What is inside",
    "settings": [
      {
        "id": "header",
        "type": "html",
        "label": "Header"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Add Text Block",
        "settings": [
          {
            "id": "header",
            "type": "text",
            "label": "Header"
          },
          {
            "id": "text",
            "type": "richtext",
            "label": "Text"
          },
          {
            "id": "color",
            "type": "text",
            "label": "Bottom Color"
          }
        ]
      }
    ]
  }
{% endschema %}